/* Import the font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

form {
    position: fixed;
    top: 17.5%;
    left: 10%;
    height: 70%;
    width: 80%;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgb(80, 79, 79);
    padding: 0% 5%;
    background-color: rgb(241, 236, 228);
    overflow-y: auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 2.5px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
form h1 {
    text-align: center;
}

#line {
    display: flex;
    justify-content: center;
    margin: 1% 0;
}

form hr {
    width: 90%;
}

#info {
    display: grid;
    margin-left: 10%;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Edge */
::-webkit-input-placeholder { 
    font-family: 'Poppins';
    color: black;
}

/* Internet Explorer 10-11 */  
:-ms-input-placeholder { 
    font-family: 'Poppins';
    color: black;
    font-weight: 300;
}
  
::placeholder {
    font-family: 'Poppins';
    color: black;
    font-weight: 300;
}

.email {
    grid-area: 1 / 1 / span 1;
}

.phone {
    grid-area: 1 / 2 / span 1;
}

.address {
    grid-area: 4 / 1 / span 1 / span 2;
}

.account {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.profile-picture {
    background-color: white;
    padding-left: 5px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.profile-picture label {
    font-family: 'Poppins';
    display: block;
    width: 70%;
}

.country {
    background-color:transparent;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.country label {
    font-family: 'Poppins';
}

.country select {
    background-color: white;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.country select:focus {
    box-shadow: none;
}

#country * {
    background-color: none;
    border: none;
    z-index: 0;
}

input:not([type=file], [type=radio]) {
    position: relative;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-family: 'Poppins';
    font-size: 15px;
    outline: none;
}

input:not([type=submit], [type=reset]):focus {
    border-color: rgba(107, 141, 250, 0.849);
    box-shadow: 0 0 10px rgba(92, 129, 250, 0.849);
}

.hidden {
    display: none;
}

input[value=store-owner]:checked ~ .hidden {
    display: grid;
    margin: 5px 10%;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px
}

.center {
    text-align: center;
    margin: 5px 0;
}

input[value=shopper] {
    margin-left: 41%;
}

input[value=store-owner] {
    margin-left: 2.5%;
}

label[for=shopper], label[for=store-owner] {
    margin: 0 5px;
}

.store-category {
    grid-area: 2 / 1 / span 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-category label {
    margin: 0 10px;
}

.store-category select {
    outline: none;
    border: 2px solid black;
}

.buttons {
    display: flex;
    margin: 12.5px 10%;
    width: 80%;
    justify-content: center;
}

input[type=submit], input[type=reset] {
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    letter-spacing: 0.5px;
    background-color: rgb(38, 38, 39);
    width: 25%;
    display: inline-flex;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    transition: all 0.15s linear;
    margin: 0 5px;
}

input[type=submit]:hover , input[type=reset]:hover {
    cursor: pointer;
    background-color: rgba(38, 38, 39, 0.37);
}
